.form-control {
	background: var(--#{$prefix}main);
    color: var(--#{$prefix}opposite);
	border-color: var(--#{$prefix}opposite);

	&::placeholder {
		color: var(--#{$prefix}opposite);
	}

	&:focus {
		background: var(--#{$prefix}main);
    	color: var(--#{$prefix}opposite);
		border-color: var(--#{$prefix}beta);
		box-shadow: 0 0 0 $btn-focus-width customAlpha(--#{$prefix}beta, .25);
	}

	+ label {
		color: var(--#{$prefix}opposite);
	}
}