::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--#{$prefix}main);
}

::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: var(--#{$prefix}main);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--#{$prefix}beta);	
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}