.dotnet/
tools/
BuildArtifacts/
config.wyam.*
.DS_Store
output/
bin/
obj/
publish/
node_modules/
cache/
apple-touch-*.png
favicon.ico
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions