<div class="row align-items-center justify-content-center position-relative">
    <div class="col-4 col-sm-5">
        <div class="row">
            <div class="col d-flex justify-content-center mt-2">
                <div class="draggable bg-delta h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="draggable bg-zeta h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center mt-n2">
                <div class="draggable bg-gamma h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="draggable bg-epsilon h-20-px w-20-px border-black"></div>
            </div>
        </div>
    </div>
    <div class="col-4 col-sm-2">
        <div class="bg-white border-beta border-2-px rounded-circle d-flex flex-shrink-0 align-items-center justify-content-center w-100-px img-fluid mx-auto">
            <img class="w-100-px" src='@Context.GetLink("/assets/images/avatar.png")' loading="lazy" alt="Image of Steph Hays" />
        </div>
    </div>
    <div class="col-4 col-sm-5">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="draggable bg-epsilon h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center mt-n2">
                <div class="draggable bg-gamma h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="draggable bg-zeta h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center mt-2">
                <div class="draggable bg-delta h-20-px w-20-px border-black"></div>
            </div>
        </div>
    </div>
</div>
<h3 class="text-center mt-4">Hi, I’m Steph Hays. I am a web designer and developer.</h3>
<div class="row">
    <div class="col-md-10 mx-auto">
        <p>
            This place is my personal code playground and mostly concentrates on recent experiments, projects, 
            and blog ramblings about my journeys of web development and my life with 2 crazy kids. Want to know more? 
            Tweet at me, checkout my GitHub, or send me a message!
        </p>
        @Html.Partial("~/shared/_SocialLinks.cshtml")
        <form class="mt-4" name="contact" method="POST" data-netlify="true" action="/success" netlify-honeypot="bot-field">
            <p class="d-none"><label>Don't fill this out if you're human: <input name="bot-field" /></label></p>
            <div class="mb-3">
                <label class="form-label" for="contactName">Name</label>
                <input type="text" class="form-control form-control-lg form-control-beta" id="contactName" name="contactName" placeholder="John Doe" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="contactEmail">Email Address</label>
                <input type="email" class="form-control form-control-lg form-control-beta" id="contactEmail" name="contactEmail" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="contactMessage">Message</label>
                <textarea class="form-control form-control-lg form-control-beta" id="contactMessage" name="contactMessage" placeholder="Leave a message here." style="height:150px" required></textarea>
            </div>
            <button class="btn btn-lg btn-beta w-100-percent" type="submit">Send Message</button>
        </form>
    </div>
</div>