<div class="row align-items-center justify-content-center position-relative">
    <div class="col-4 col-sm-5">
        <div class="row">
            <div class="col d-flex justify-content-center mt-2">
                <div class="draggable bg-delta h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="draggable bg-zeta h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center mt-n2">
                <div class="draggable bg-gamma h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="draggable bg-epsilon h-20-px w-20-px border-black"></div>
            </div>
        </div>
    </div>
    <div class="col-4 col-sm-2">
        <div class="bg-main border-beta border-2-px rounded-circle d-flex flex-shrink-0 align-items-center justify-content-center w-100-px img-fluid mx-auto">
            <img class="p-3 w-100-px" src='@Context.GetLink("/assets/images/avatar.png")' loading="lazy" alt="Image of Steph Hays" />
        </div>
    </div>
    <div class="col-4 col-sm-5">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="draggable bg-epsilon h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center mt-n2">
                <div class="draggable bg-gamma h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="draggable bg-zeta h-20-px w-20-px border-black"></div>
            </div>
            <div class="col d-flex justify-content-center mt-2">
                <div class="draggable bg-delta h-20-px w-20-px border-black"></div>
            </div>
        </div>
    </div>
</div>
<h3 class="text-center mt-4">Hi, I’m Steph Hays. I am a web designer and developer.</h3>
<div class="row">
    <div class="col-md-10 mx-auto">
        <p>
            This place is my personal code playground and mostly concentrates on recent experiements, projects, 
            and blog ramblings about my journeys of web development and my life with 2 crazy kids. Want to know more? 
            Tweet at me or checkout my GitHub.
        </p>
        @Html.Partial("~/shared/_SocialLinks.cshtml")
    </div>
</div>