<div class="position-absolute top-0 end-0">
    <div class="d-flex diagnol-bottom-top">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="position-absolute bottom-0 end-0">
    <div class="d-flex diagnol-top-bottom">
        <div></div>
    </div>
</div>
<div class="position-absolute bottom-0">
    <div class="d-flex diagnol-bottom-top">
        <div></div>
    </div>
</div>