<div class="position-absolute top-5 w-100-percent h-95-percent">
    <svg class="bg-zeta w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
        <rect fill="url(#svgDots)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
    </svg>
</div>
<div class="position-absolute top-5 start-0 w-50-percent h-100-percent">
    <svg class="bg-gamma w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
        <rect fill="url(#svgStripesVertical)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
    </svg>
</div>
<div class="position-absolute top-0 end-0 w-60-percent h-50-percent">
    <svg class="bg-beta w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
        <rect fill="url(#svgSprinkles)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
    </svg>
</div>
<div class="position-absolute top-20 end-0 w-10-percent h-90-percent">
    <svg class="bg-epsilon w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
        <rect fill="url(#svgDiagnolZigZag)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
    </svg>
</div>