<li class="list-inline-item"><a class="link-underline-hover link-underline-hover-black fw-bolder" href='@Context.GetLink("/tags")'>Browse</a></li>
<li class="list-inline-item"><a class="link-underline-hover link-underline-hover-black fw-bolder" href='@Context.GetLink("/code")'>Code</a></li>
<li class="list-inline-item">
    <a href='@Context.GetLink("/")'>
        <span class="h1 text-black border-black px-2">SH</span>
    </a>
</li>
<li class="list-inline-item"><a class="link-underline-hover link-underline-hover-black fw-bolder" href='@Context.GetLink("/blog")'>Blog</a></li>
<li class="list-inline-item"><a class="link-underline-hover link-underline-hover-black fw-bolder btn-collapse-target" data-collapse-target="#connect" href="#connect">Connect</a></li>