<ul class="list-unstyled list-inline mb-0 text-center">
    <li class="list-inline-item position-relative">
        <a class="icon icon-circle icon-blip icon-blip-github" href="https://github.com/st3phhays" title="Find me on GitHub" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </li>
    <li class="list-inline-item position-relative">
        <a class="icon icon-circle icon-blip icon-blip-linkedin" href="https://www.linkedin.com/in/st3phhays/" title="Find me on LinkedIn" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
    </li>
    <li class="list-inline-item position-relative">
        <a class="icon icon-circle icon-blip icon-blip-twitter" href="https://twitter.com/st3phhays" title="Find me on Twitter" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </li>
    <li class="list-inline-item position-relative">
        <a class="icon icon-circle icon-blip icon-blip-codepen" href="https://codepen.io/st3phhays" title="Find me on CodePen" target="_blank">
            <i class="fa-brands fa-codepen"></i>
        </a>
    </li>
</ul>