ArchiveSources: archive/*.md
ArchiveFilter: => GetString("Type").Equals("blog")
ArchivePageSize: 12
ArchiveOrder: => GetDateTime("Published")
ArchiveOrderDescending: true
Title: Blog
Excerpt: Sometimes I write about code... and other times I write about my random crazy life with 2 kids.
---

<section class="position-relative bg-alpha">
    @Html.Partial("~/shared/_HeaderBackgroundTwo.cshtml")
    <div class="container-lg position-relative px-0 py-6">
        <div class="row g-0">
            <div class="col-md-8 mx-auto">
                <div class="position-relative mx-4">
                    <div class="card position-absolute h-100-percent w-100-percent bg-epsilon ms-n3 mt-3"></div>
                    <div class="card text-opposite position-relative">
                        @Html.Partial("~/shared/_HeaderCard.cshtml")
                        @Html.Partial("~/shared/_HeaderCardTitle.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    @Html.Partial("~/shared/_PostListings.cshtml")
</section>